@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Rubik+Puddles&family=Teko&display=swap');

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Teko', monospace;
  font-weight: 400;
}
:root {
  --blue-color: #006994;
  --ultra-light-blue: #e7feff;
  --sea-cell-blue: #2fd1fa;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  font-weight: 100vw;
  background-color: var(--ultra-light-blue);
}
.btn {
  font-family: 'Rubik Moonrocks', 'Teko', monospace;
  display: block;
  height: 4rem;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 3rem;
  border: 2px solid var(--blue-color);
  margin: 3rem;
  color: var(--blue-color);
  background-color: var(--ultra-light-blue);
  padding: 0 2rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  color: var(--ultra-light-blue);
  background-color: var(--blue-color);
}
/* main wrapper */
.main-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* header */
.header {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__heading {
  text-transform: uppercase;
  font-family: 'Rubik Puddles', 'Teko', monospace;
  color: var(--blue-color);
  font-size: 5rem;
}
/* game wrapper */
.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* new game modal */
.new-game {
  min-height: 30rem;
  display: flex;
  justify-content: center;
}
/* game board grid */
.grid {
  background-color: var(--ultra-light-blue);
  display: grid;
  height: 35rem;
  width: 35rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 0.2rem;
}
.grid__cell {
  background-color: var(--sea-cell-blue);
  border-radius: 0.25rem;
}
.cell--ship {
  background-color: rgb(119, 130, 131);
}
.ship-placement {
  background-color: rgb(216, 252, 195);
}
.invalid-ship-placement {
  background-color: rgb(248, 125, 125);
}
/* ship placement */
/* footer */
.hidden {
  display: none;
}
